---
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import ContactCard from "./ContactCard.astro";
const contact = await Astro.glob("../pages/contact/*.md");
---

<div class="flex flex-col gap-4">
  <AccordionLayout title="About" icon="ri:account-circle-2-line">
    <article class="text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>
  </AccordionLayout>

  <AccordionLayout title="Contact" icon="ri:contacts-book-2-line">
    <div class="flex flex-wrap justify-center gap-4">
      {contact.map((item) => (
        <ContactCard
          url={item.frontmatter.url}
          url_name={item.frontmatter.title}
          icon={item.frontmatter.icon}
        />
      ))}
    </div>
  </AccordionLayout>
</div>
